@import "tailwindcss";
*{
     font-family: "DM Sans", sans-serif;
}


@theme {
  --color-primary: #000819; /* blue-600 */
  --color-next-prim: #101a2a; /* purple-600 */
  --color-secondary: #0b1422; /* purple-600 */
  --color-third: #151c2d; /* amber-500 */
  --color-fourth: #1c243a;
  --color-text: #f6faff;
  --color-text-secondary: #cfd6da;
  --color-text-third: #c1cad0;
  --color-ui-color: #4c64b4;
  --color-ui-color-text: #dfe5ef;
  --color-invert: #dfe5ef;
  --color-invert-text: #000819;
  --color-pending: #000819;
  --color-pending-text: #000819;
  --color-paid: #000819;
  --color-paid-text: #000819;
  --color-partial: #000819;
  --color-partial-text: #000819;
  --color-invert-second: #382f21;
}
:root{
 --color-primary: #000000; /* blue-600 */
  --color-next-prim: #060606; /* purple-600 */
  --color-secondary: #131b27; /* purple-600 */
  --color-third: #1e1e1e; /* amber-500 */
  --color-fourth: #2d2d2dcd;
  --color-text: #ffffff;
  --color-text-secondary: #e3e3e3;
  --color-text-third: #bfbfbf;
  --color-ui-color: #2788f7;
  --color-ui-color-text: #eef5ff;
  --color-invert: #dfe5ef;
  --color-invert-text: #000819;
  --color-pending: #f34444;
  --color-pending-text: #f8dbdb;
  --color-paid: #95f5af;
  --color-paid-text: #33513b;
  --color-partial: #ffc8a7;
  --color-partial-text: #30281b;
  --color-invert-second: #cad1dc;
}
.dark{
  --color-primary: #eff3fa; /* blue-600 */
  --color-secondary: #d9dfea; /* purple-600 */
   --color-next-prim: #b9c2d2; /* purple-600 */
  --color-third: #cbd2e0; /* amber-500 */
  --color-fourth: #bdc5d4;
  --color-text: #010d20;
  --color-text-secondary: #222a37;
  --color-text-third: #303b4d;
  --color-ui-color: #06b365;
  --color-ui-color-text: #d8ffed;
  --color-invert: #101c2f;
  --color-invert-text: #eff3fa;
   --color-pending: #ed4b4b;
  --color-pending-text: #f0cece;
  --color-paid: #66e287;
  --color-paid-text: #33513b;
  --color-partial: #ffc8a7;
  --color-partial-text: #30281b;
  --color-invert-second: #19253a;
}
